<div class="venta_list">
<a type="button" class="btn btn-info btn-lg" href="/">INICIO</a>
<div >
    <h1 >Lista de Ventas</h1>
</div>
<div class="mb-3">
    <a th:href="@{/ventas/create}" class="btn btn-success btn-sm">Nueva Venta</a>
</div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Coche</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Tipo de Pago</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="venta : ${ventas}">
            <td th:text="${venta.id}"></td>
            <td th:text="${venta.cliente.name}"></td>
            <td th:text="${venta.coche.marca + ' ' + venta.coche.modelo}"></td>
            <td th:text="${venta.fecha}"></td>
            <td th:text="${venta.total}"></td>
            <td th:text="${venta.tipoPago}"></td>

            <td>
                <a th:href="@{/ventas/edit/{id}(id=${venta.id})}" class="btn btn-primary btn-sm">Editar</a>
                <a href="#" class="btn btn-danger btn-sm" th:onclick="'confirmDelete(event, \'' + @{/ventas/delete/{id}(id=${venta.id})} + '\')'">Eliminar</a>
            </td>

        </tr>
        </tbody>
    </table>

</div>
