.home{
    background-color: whitesmoke;
    text-align: center;
}
.home h1{
    text-color: white;
}
.container{
    background-color: gray;
}
.fondo{
    background-image: url("/static/img/audi.jpg");
}
.text-center{
    text-align: center;
}